@font-face {
    font-family: Avenir-Light;
    src: url(fonts/Avenir-Light.otf);
}

body {
    margin: 0;
}

.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #F1F2F4;
    min-height: 47px;
    -webkit-app-region: drag;
}

.nav-left {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.link {
    text-transform: uppercase;
    font-family: Avenir-Light;
    color: rgba(0, 0, 0, .4);
    font-size: .8rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.nav-right {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.icon {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-right: 1rem;
}

.minimize {
    background-color: rgba(255, 204, 0, .4);
}

.maximize {
    background-color: rgba(99, 218, 56, .4);
}

.close {
    background-color: rgba(255, 59, 48, .4);
}

.main {
    display: grid;
    grid-auto-rows: 256px;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    overflow-y: auto;
}

.image {
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #E0E2E6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9FABB3;
}